* {
    font-family: JetBrainsMono;
    font-size: 12px;
    min-height: 0;
    color: #c9c6c6;
}


window#waybar {
    background-color: transparent;
}

#workspaces {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button {
    border-radius: 4px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
    background-color: #181818;
    /* color: #181818; */
    /* background-color: #c9c6c6; */
}

#workspaces button.active,
#workspaces button.focused {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background: #7C9D96;
}
#idle_inhibitor,
#tray,
#mpd,
#cpu,
#temperature,
#memory,
#backlight,
#pulseaudio,
#disk,
#custom-dunst,
#battery,
#clock,
#window,
#network,
#language
{
    min-height: 10px; 
    min-width: 20px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0 4px;
    background-color: #181818;
    /* color: #181818; */
    /* background-color: #c9c6c6; */
}

#language {
    color: #181818;
    background-color: #c9c6c6;
}

#battery.warning {
    color: #e6b917;
    padding: 0 10px;
    border-radius: 15px;
    margin: 0 4px;
    background-color: #181818;
}

#battery.critical {
    color: #c31123;
    padding: 0 10px;
    border-radius: 15px;
    margin: 0 4px;
    background-color: #181818;
}
#battery.charging {
    color: #34A853;
}
